<div class="container">
<div class="selectOption">
<h2> select countries and describe the details</h2>
<table class="table bg-white">
<thead>
<tr>
  <th scope="col">#</th>
  <th scope="col">Id</th>
  <th scope="col">name</th>
  <th scope="col">image</th>
  <th scope="col">price</th>
  <th scope="col" colspan="2">Actions</th>
</tr>
</thead>
<tbody>
  <tr *ngFor="let prod of products,index as i" >
<td scope="row">{{i+0}}</td>
    <td>{{prod.id}}</td>
    <td>{{prod.name}}</td>
    <td><img src="{{prod.img}}"/></td>
<td>{{prod.price}}</td>
<td><button class="btn btn-primary">Edit</button></td>
<td><button class="btn btn-danger">Delete</button></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="details" [ngSwitch]="country">
<p *ngSwitchCase="'India'">
  provide the details of india
</p>
<p *ngSwitchCase="'usa'">
  provide the details of usa
</p>
<p *ngSwitchCase="'china'">
  provide the details of china
</p>
</div>



<hr/>
<div class="contentpart">
<div class="myform">
  <input type="text" name ="item" placeholder="Enter some item" #item/>
  <button class="btn btn-primary" (click)="addItem(item)">Add Item</button>
</div>
<div class="data">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let it1 of items,index as i" >
        <td>{{i+1}}</td>
        <td>{{it1.item}}</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
<div class="container">
  <h2>from app component</h2>
  <div class="childcomp1">
    <app-india></app-india>
  
  </div>
</div>
<div>
  <h2>from child app</h2>
  <app-parent></app-parent>
</div>
  